* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    font-size: 62.5%;
    --color-darkblue: hsl(195, 91%, 25%);
    --color-mediumblue: hsl(195, 46%, 40%);
    --color-white: hsl(0, 0%, 100%);
    --color-lightblue: rgba(255, 255, 255, 0.20);
}

html,
body,
input {
    font-family: 'Mulish', sans-serif;
}

body {
    font-size: 1.6rem;
    width: 100%;
    min-height: 100vh;
}

#app {
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "aside"
        "footer";
}

/* HEADER */
header {
    grid-area: header;
    height: 7.2rem;
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    gap: 2.4rem;

    align-items: center;
    padding: 1.6rem 2.8rem;

    background-color: var(--color-darkblue);
}

header .logo {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    padding: .8rem;
    background-color: var(--color-white);
}

header form {
    flex: 1;
}

.input-wrapper label {
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
}

.input-wrapper input {
    background-color: var(--color-lightblue);
    color: var(--color-white);

    font-size: 1.6rem;
    font-weight: 600;

    width: 100%;
    height: 4.0rem;

    border-radius: .4rem;
    border: 0;

    padding: 1.2rem 1.4rem;
}

.input-wrapper input::placeholder {
    color: var(--color-white);
    font-size: 1.6rem;
    font-weight: 600;
}

.avatar {
    width: 4.2rem;
    height: 4.2rem;
    border-radius: 50%;
}

/* MAIN */
main {
    grid-area: main;
}

main .article-image {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
}
main, article {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

section, aside {
    padding: 0 2.2rem;
}
.wrapper {
    display: flex;
    flex-direction: column;
    gap: .8rem;
}
.button-wrapper img {
    background-color: var(--color-darkblue);
    width: 4rem;
    height: 4rem;

    border: 0;
    border-radius: 50%;

    padding: 1.2rem;
}

.button-wrapper img+img {
    margin-left: 1.2rem;
    transform: scaleY(-1);
}

.button-wrapper img:first-child:hover {
   transform: scale(1.2);
}

.button-wrapper img+img:hover {
   transform: scale(1.2, -1.2);
}

article p {
    font-size: 1.6rem;
    font-weight: 400;
}


h1 {
    font-size: 2.4rem;
    font-weight: 700;
}
/* ASIDE */
aside {
    grid-area: aside;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin: 3rem 0;
}

.item {
    display: grid;
    grid-template: 
    "image details" auto / min(15.2rem, 42%) 1fr;
    gap: 1.6rem;
    align-items: center;
}


.item:hover > .details {
    transform: scale(1.03);
}

.item:hover > img{
    rotate: -1deg;
    transform: scale(1.03);
    filter: hue-rotate(30deg) contrast(120%) saturate(200%);
}

.item img {
    grid-area: image;
    width: 100%;
    border-radius: .5rem;
    aspect-ratio: 16/9;
    object-fit: cover;
    transition: all .2s ease-out;
}

.item .details {
    grid-area: details;
    transition: all .2s ease-out;
}

.details h2 {
    font-size: 1.8rem;
    font-weight: 700;
}

.details p {
    font-size: 1.4rem;
    font-weight: 400;
    margin-top: .8rem;
}

/* FOOTER */
footer {
    grid-area: footer;
    background-color: var(--color-mediumblue);
    color: var(--color-white);
    padding: 2.6rem 1.6rem;
}
footer p {
    font-weight: 600;
    text-align: center;
}

.article-image, main section{
    animation: appear 1s .4s backwards;
}

.item, aside h1 {
    --delay: 1s;
    animation: item-appearance .4s var(--delay) backwards;
}
@keyframes appear{
    0% {
        transform: translateX(-150%);
    }
    50% {
        transform: translateX(20%) rotate(15deg);
    }
    
}

@keyframes item-appearance{
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.15);
    }
}

@media (min-width: 980px) {
    #app {
        margin: auto;
        display: grid;
        grid-template-areas: 
        "header header header"
        "main main aside"
        "footer footer footer";
        max-width: min(112rem, 100%);
        row-gap: 4rem;
        column-gap: 3rem ;

    }
    header::before {
        content: '';
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 7.2rem;
        top: 0;
        left: 0;
        background-color: var(--color-darkblue);
    } 

    main {
        gap: 3rem;
        padding: 0 2.2rem;
    }
    
    main > img {
        border-radius: .5rem;
        aspect-ratio: 16/9;
    }

    .wrapper {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    section, aside {
        margin: 0;
        padding: 0;
    }
    html {
        position: relative;
    }

    html::after {
        content: '';
        margin: 0;
        position: absolute;
        z-index: -1;
        left: 20;
        width: 100%;
        height: 72px;
        
        bottom: 0;        
        background-color: var(--color-mediumblue);

    }

}